.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: none;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-webkit-keyframes pulse-gradient {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 125%;
  }
}
@keyframes pulse-gradient {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 125%;
  }
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

body {
  background-color: #232323;
  color: #fff;
  font-family: "Familjen Grotesk", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
}

.container {
  min-width: 320px;
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  position: relative;
}
.section--clouds-bg::before {
  top: 0;
  left: 0;
  background-image: -webkit-image-set(url(../images/common/clouds-top-mobile.png) 1x, url(../images/common/clouds-top-mobile@2x.png) 2x);
  background-image: image-set(url(../images/common/clouds-top-mobile.png) 1x, url(../images/common/clouds-top-mobile@2x.png) 2x);
}
@media screen and (min-width: 768px) {
  .section--clouds-bg::before {
    background-image: -webkit-image-set(url(../images/common/clouds-top-tablet.png) 1x, url(../images/common/clouds-top-desktop.png) 2x);
    background-image: image-set(url(../images/common/clouds-top-tablet.png) 1x, url(../images/common/clouds-top-desktop.png) 2x);
  }
}
@media screen and (min-width: 1024px) {
  .section--clouds-bg::before {
    background-image: -webkit-image-set(url(../images/common/clouds-top-desktop.png) 1x, url(../images/common/clouds-top-desktop@2x.png) 2x);
    background-image: image-set(url(../images/common/clouds-top-desktop.png) 1x, url(../images/common/clouds-top-desktop@2x.png) 2x);
  }
}
.section--clouds-bg::after {
  bottom: 0;
  left: 0;
  background-image: -webkit-image-set(url(../images/common/clouds-bottom-mobile.png) 1x, url(../images/common/clouds-bottom-mobile@2x.png) 2x);
  background-image: image-set(url(../images/common/clouds-bottom-mobile.png) 1x, url(../images/common/clouds-bottom-mobile@2x.png) 2x);
}
@media screen and (min-width: 768px) {
  .section--clouds-bg::after {
    background-image: -webkit-image-set(url(../images/common/clouds-bottom-tablet.png) 1x, url(../images/common/clouds-bottom-desktop.png) 2x);
    background-image: image-set(url(../images/common/clouds-bottom-tablet.png) 1x, url(../images/common/clouds-bottom-desktop.png) 2x);
  }
}
@media screen and (min-width: 1024px) {
  .section--clouds-bg::after {
    background-image: -webkit-image-set(url(../images/common/clouds-bottom-desktop.png) 1x, url(../images/common/clouds-bottom-desktop@2x.png) 2x);
    background-image: image-set(url(../images/common/clouds-bottom-desktop.png) 1x, url(../images/common/clouds-bottom-desktop@2x.png) 2x);
  }
}
.section--clouds-top-bg {
  top: 0;
  left: 0;
  background-image: -webkit-image-set(url(../images/common/clouds-top-mobile.png) 1x, url(../images/common/clouds-top-mobile@2x.png) 2x);
  background-image: image-set(url(../images/common/clouds-top-mobile.png) 1x, url(../images/common/clouds-top-mobile@2x.png) 2x);
}
@media screen and (min-width: 768px) {
  .section--clouds-top-bg {
    background-image: -webkit-image-set(url(../images/common/clouds-top-tablet.png) 1x, url(../images/common/clouds-top-desktop.png) 2x);
    background-image: image-set(url(../images/common/clouds-top-tablet.png) 1x, url(../images/common/clouds-top-desktop.png) 2x);
  }
}
@media screen and (min-width: 1024px) {
  .section--clouds-top-bg {
    background-image: -webkit-image-set(url(../images/common/clouds-top-desktop.png) 1x, url(../images/common/clouds-top-desktop@2x.png) 2x);
    background-image: image-set(url(../images/common/clouds-top-desktop.png) 1x, url(../images/common/clouds-top-desktop@2x.png) 2x);
  }
}
.section--clouds-bottom-bg {
  bottom: 0;
  left: 0;
  background-image: -webkit-image-set(url(../images/common/clouds-bottom-mobile.png) 1x, url(../images/common/clouds-bottom-mobile@2x.png) 2x);
  background-image: image-set(url(../images/common/clouds-bottom-mobile.png) 1x, url(../images/common/clouds-bottom-mobile@2x.png) 2x);
}
@media screen and (min-width: 768px) {
  .section--clouds-bottom-bg {
    background-image: -webkit-image-set(url(../images/common/clouds-bottom-tablet.png) 1x, url(../images/common/clouds-bottom-desktop.png) 2x);
    background-image: image-set(url(../images/common/clouds-bottom-tablet.png) 1x, url(../images/common/clouds-bottom-desktop.png) 2x);
  }
}
@media screen and (min-width: 1024px) {
  .section--clouds-bottom-bg {
    background-image: -webkit-image-set(url(../images/common/clouds-bottom-desktop.png) 1x, url(../images/common/clouds-bottom-desktop@2x.png) 2x);
    background-image: image-set(url(../images/common/clouds-bottom-desktop.png) 1x, url(../images/common/clouds-bottom-desktop@2x.png) 2x);
  }
}
.section--clouds-bg::before, .section--clouds-bg::after, .section--clouds-top-bg::before, .section--clouds-top-bg::after, .section--clouds-bottom-bg::before, .section--clouds-bottom-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .section--clouds-bg::before, .section--clouds-bg::after, .section--clouds-top-bg::before, .section--clouds-top-bg::after, .section--clouds-bottom-bg::before, .section--clouds-bottom-bg::after {
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .section--clouds-bg::before, .section--clouds-bg::after, .section--clouds-top-bg::before, .section--clouds-top-bg::after, .section--clouds-bottom-bg::before, .section--clouds-bottom-bg::after {
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .section--clouds-bg::before, .section--clouds-bg::after, .section--clouds-top-bg::before, .section--clouds-top-bg::after, .section--clouds-bottom-bg::before, .section--clouds-bottom-bg::after {
    height: 200px;
  }
}
@media screen and (min-width: 1330px) {
  .section--clouds-bg::before, .section--clouds-bg::after, .section--clouds-top-bg::before, .section--clouds-top-bg::after, .section--clouds-bottom-bg::before, .section--clouds-bottom-bg::after {
    height: 290px;
  }
}

.section__section-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .section__section-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section__section-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section__container {
    max-width: 480px;
  }
}

.section-title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: inherit;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .section-title {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 45px;
  }
}
.section-title--light {
  color: #fff;
}
.section-title--dark {
  color: #000;
}
.section-title::before, .section-title::after, .section-title__frame::before, .section-title__frame::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}
.section-title::before {
  top: 0;
  left: 0;
  border-top: 3px solid #ff9900;
  border-left: 3px solid #ff9900;
}
.section-title::after {
  top: 0;
  right: 0;
  border-top: 3px solid #ff9900;
  border-right: 3px solid #ff9900;
}
.section-title__frame::before {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #ff9900;
  border-left: 3px solid #ff9900;
}
.section-title__frame::after {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #ff9900;
  border-right: 3px solid #ff9900;
}

.title-wrapper {
  text-align: center;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #ffffff), color-stop(80%, #b0b0b0));
  background-image: linear-gradient(180deg, #ffffff 15%, #b0b0b0 80%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-transform: uppercase;
}
.logo__image {
  width: 82px;
}
@media screen and (min-width: 768px) {
  .logo__image {
    width: 103px;
  }
}

.excerpt--accent {
  color: #ff9900;
}
.excerpt--accent-secondary {
  color: #FF6712;
}
.excerpt--bold {
  font-weight: 700;
}

.button {
  display: block;
  padding: 22px 31px;
  border-radius: 183px;
  background: linear-gradient(45deg, #FF6712 46.88%, #ff9900 100%);
  background-size: 400% 400%;
  color: #fff;
  -webkit-box-shadow: 0px 6px 25px rgba(255, 145, 2, 0.6);
          box-shadow: 0px 6px 25px rgba(255, 145, 2, 0.6);
  font-weight: 700;
  font-size: 18px;
  line-height: inherit;
  cursor: pointer;
  -webkit-animation: gradient 7s ease infinite;
          animation: gradient 7s ease infinite;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .button {
    padding-left: 49px;
    padding-right: 49px;
    font-size: 22px;
  }
}
.button:hover, .button:focus {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-box-shadow: 0px 6px 50px rgba(255, 145, 2, 0.6);
          box-shadow: 0px 6px 50px rgba(255, 145, 2, 0.6);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.catalog {
  padding-top: 75px;
  padding-bottom: 100px;
  background-image: -webkit-image-set(url(../images/catalog/firewood-optimized.png) 1x, url(../images/catalog/firewood-optimized@2x.png) 2x);
  background-image: image-set(url(../images/catalog/firewood-optimized.png) 1x, url(../images/catalog/firewood-optimized@2x.png) 2x);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: bottom 2vh right;
}
@media screen and (min-width: 768px) {
  .catalog {
    padding-top: 100px;
    padding-bottom: 165px;
    background-size: 30% auto;
  }
}
@media screen and (min-width: 1024px) {
  .catalog {
    padding-top: 140px;
    padding-bottom: 220px;
  }
}
@media screen and (min-width: 1330px) {
  .catalog {
    padding-top: 180px;
    padding-bottom: 300px;
    background-size: 35% auto;
    background-position: bottom 5vh right;
  }
}
@media screen and (min-width: 768px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 45px;
  }
}
.catalog__category {
  margin-bottom: 0;
  text-shadow: -2px -2px 5px #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.07;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .catalog__category {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .catalog__category {
    font-size: 22px;
  }
}
@media screen and (min-width: 1330px) {
  .catalog__category {
    font-size: 28px;
  }
}
.catalog__link {
  color: currentColor;
}

.catalog__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .catalog__item {
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .catalog__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
.catalog__item:first-child::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 301px;
  width: 50%;
  background-image: -webkit-image-set(url(../images/common/catalog-sparks.png) 1x, url(../images/common/catalog-sparks@2x.png) 2x);
  background-image: image-set(url(../images/common/catalog-sparks.png) 1x, url(../images/common/catalog-sparks@2x.png) 2x);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1329px) {
  .catalog__item:first-child::before {
    bottom: -100px;
    left: -20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media screen and (min-width: 1330px) {
  .catalog__item:first-child::before {
    top: -150px;
    left: -195px;
  }
}
.catalog__item:nth-child(4n+1) .catalog__thumb::before {
  background: radial-gradient(circle at top left, rgba(255, 164, 27, 0.7) 0%, rgba(255, 206, 132, 0.1) 40%);
}
.catalog__item:nth-child(4n+2) .catalog__thumb::before {
  background: radial-gradient(circle at bottom right, rgba(255, 164, 27, 0.7) 0%, rgba(255, 206, 132, 0.1) 40%);
}
.catalog__item:nth-child(4n+3) .catalog__thumb::before {
  background: radial-gradient(circle at bottom left, rgba(255, 164, 27, 0.7) 0%, rgba(255, 206, 132, 0.1) 40%);
}
.catalog__item:nth-child(4n+4) .catalog__thumb::before {
  background: radial-gradient(circle at top left, rgba(255, 164, 27, 0.7) 0%, rgba(255, 206, 132, 0.1) 40%);
}

.catalog__thumb {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .catalog__thumb {
    border-radius: 20px;
  }
}
.catalog__item:hover .catalog__thumb {
  -webkit-transform: scale(1.02) translateY(-10px);
          transform: scale(1.02) translateY(-10px);
  -webkit-box-shadow: 0 0 20px 5px rgba(255, 94, 0, 0.3);
          box-shadow: 0 0 20px 5px rgba(255, 94, 0, 0.3);
}
.catalog__thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.catalog__item--accent .catalog__thumb {
  -webkit-box-shadow: 0 0 20px 5px rgba(255, 94, 0, 0.3);
          box-shadow: 0 0 20px 5px rgba(255, 94, 0, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}/*# sourceMappingURL=main.css.map */