.advantages {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: get-color(primary-white);

    &__list {
        @extend %list;
        color: get-color("primary-black");

        @include for-size(desktop) {
            @include flex-grid($grid-gap);
        }
    }

    &__item-content {
        padding: 30px 15px;
    }

    &__headline {
        margin-bottom: 7px;

        @include font(700, 18px, 1.27);
        text-transform: uppercase;
    }

    &__descr {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.3;
    }
}

.advantages__item {
    position: relative;
    border-radius: $card-mobile-border-radius;
    overflow: hidden;

    @include for-size(tablet) {
        border-radius: $card-border-radius;
    }

    @include for-size(desktop) {
        flex-basis: calc((100% - 2 * #{$grid-gap}) / 3);
        flex-grow: 1;
        // flex-basis: auto;

		&:nth-child(3) {
			order: 1;
		}
	
		&:nth-child(5) {
			order: 2;
		}
    }

    &:not(:last-child) {
        @include for-size(mobile-only) {
            margin-bottom: 20px;
        }
    }

    &--2-col {
        @include for-size(desktop) {
            display: flex;
            flex-direction: column;
            gap: $grid-gap;
        }
    }

    &--accent {
        @include centered-flex($main-axis: space-around);
        flex-direction: column;

        background-image: $card-accent-gradient;

        &:nth-child(even) {
            background-image: $card-accent-gradient-reversed;
            flex-direction: column-reverse;
        }
    }

    &--dark {
        background-image: $card-dark-gradient;
        color: get-color("primary-white");
    }

    &--light {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: $card-light-gradient;
    }
}
