.features {
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: get-color("primary-white");

    &__list {
        @extend %list;

        @include for-size(tablet) {
			@include flex-grid($grid-gap);
        }

        @media screen and (min-width: $laptop) and (max-width: 1599px) {
            margin-bottom: 40px;
        }
    }

    &__descr {
        margin-bottom: 0;

        color: get-color("primary-black");
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;

        @include for-size(laptop) {
            font-size: 16px;
        }

        @include for-size(desktop) {
            font-size: 18px;
        }
    }
}

.features__thumb {
	margin-bottom: 23px;

	border: 7px solid get-color("accent");
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;

	overflow: hidden;

	transition: box-shadow $transition-duration $ttf;

	@include for-size(laptop-only) {
		margin-bottom: 15px;
	}

	.features__item:hover & {
		box-shadow: 0 0 20px 5px get-color('secondary-accent--card-shadow');
	}
}

.features__item {
	transform-origin: left bottom;
    transition: transform $transition-duration $ttf;

    @include for-size(tablet) {
        flex-basis: calc((100% - 20px) / 2);
    }

    @include for-size(desktop) {
        flex-basis: calc((100% - 3 * 20px) / 4);
    }

    &:hover {
        transform: scale(1.03);
    }

    &:not(:last-child) {
        @include for-size(mobile-only) {
            margin-bottom: 35px;
        }
    }
}
