.page-header {
    outline: 1px solid teal;

    position: relative;

    &__nav {
        @include centered-flex($main-axis: space-between);
        padding-top: 16px;
        padding-bottom: 16px;

        @media screen and (min-width: $tablet-big) and (max-width: 1199px) {
            padding-top: 45px;
            padding-bottom: 25px;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    &__contacts {
        @media screen and (min-width: $tablet-big) and (max-width: 1199px) {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            column-gap: 50px;
        }

        @media screen and (min-width: $desktop) {
            @include aligned-flex;
            flex-direction: column;
        }
    }
}

//! Message

.message {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-big) {
        @include aligned-flex;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 7px;
    }

    &__icon {
        width: 45px;
        height: 45px;

        @media screen and (min-width: $tablet-big) {
            width: 35px;
            height: 35px;
        }

        @media screen and (min-width: $desktop) {
            width: 30px;
            height: 30px;
        }
    }
}

.message__action {
    display: block;
	flex-shrink: 0;

    font-size: 16px;
    line-height: 1.25;

    @media screen and (max-width: 959px) {
        margin-bottom: 13px;
    }

    @media screen and (min-width: $tablet-big) {
        margin-right: 12px;
        font-size: 12px;
    }

    &::before {
        content: "";

        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 11px;

        border-radius: 50%;

        background-color: get-color("online");

		@media screen and (min-width: $desktop) and (max-width: 1299px) {
			margin-right: 7px;
		}
    }
}

.message__link {
    @include centered-flex(inline-flex);

    &:not(:last-child) {
        margin-right: 35px;

        @media screen and (min-width: $tablet-big) {
            margin-right: 15px;
        }

        @media screen and (min-width: $desktop) {
            margin-right: 10px;
        }
    }
}

//! Company Phone Number

.company-phone {
	flex-shrink: 0;
	
    color: inherit;
    @include font(700, 26px, 1.27);

    @media screen and (min-width: $tablet-big) {
        font-size: 20px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }

    @media screen and (min-width: 1300px) {
        font-size: 24px;
    }

    &__icon {
        vertical-align: middle;
        margin-right: 10px;
    }
}
