.page-header {
    position: absolute;
	z-index: 2;

	width: 100%;

	transition: background-color $transition-duration $ttf;

	&--menu-open {
		background-color:  get-color('mobile-menu-bg');
	}

    &__nav {
        @include centered-flex($main-axis: space-between);
        padding-top: 16px;

        @media screen and (min-width: $laptop) and (max-width: 1329px) {
            padding-top: 50px;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 25px;
        }
    }

    &__contacts {
        @media screen and (min-width: $laptop) and (max-width: 1329px) {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            column-gap: 50px;
        }

        @media screen and (min-width: $desktop) {
            @include aligned-flex;
            flex-direction: column;
        }
    }
}

//! Message

.message {
    margin-bottom: 40px;

    @media screen and (min-width: $laptop) {
        @include aligned-flex;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 7px;
    }

    &__icon {
        width: 45px;
        height: 45px;

        @media screen and (min-width: $laptop) {
            width: 35px;
            height: 35px;
        }

        @media screen and (min-width: $desktop) {
            width: 30px;
            height: 30px;
        }
    }
}

.message__action {
    display: block;
	flex-shrink: 0;

    font-size: 16px;

    @media screen and (max-width: 1023px) {
        margin-bottom: 15px;
    }

    @media screen and (min-width: $laptop) {
        margin-right: 12px;
        font-size: 12px;
    }

    &::before {
        content: "";

        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 11px;

        border-radius: 50%;

        background-color: get-color("online");
    }
}

.message__link {
    @include centered-flex(inline-flex);

    &:not(:last-child) {
        margin-right: 35px;

        @media screen and (min-width: $laptop) {
            margin-right: 15px;
        }
    }
}

//! Company Phone Number

.company-phone {
	flex-shrink: 0;
	
    color: inherit;
    @include font(700, 26px, inherit);

    @media screen and (min-width: $laptop) {
        font-size: 22px;
    }

    &__icon {
        vertical-align: middle;
        margin-right: 10px;
    }
}
