body {
	font-family: 'Familjen Grotesk', sans-serif;
	@include font(400, 22px, 1.27)

}

.container {
	min-width: 320px;
	max-width: 1330px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}